<!DOCTYPE html>
<html>
<head>
	<title>Biodiversity importance</title>
	<style>
        body {
			margin: 0;
			padding: 0;
            background-color: lightcyan;
		}

        #header {
        background-image: url("static/assets/img/7.jpg");
        background-size: contain;
        background-position: center;
        height: 100vh;
        }


		#header h1 {
			text-align: center;
			color: white;
			padding-top: 50px;
			font-size: 3em;
            text-decoration-style: solid;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		}

		#content {
			padding: 50px;
		}

		#content h2 {
			font-size: 2em;
			margin-bottom: 20px;
		}

		#content p {
			font-size: 1.2em;
			line-height: 1.5;
			margin-bottom: 30px;
		}

		#video {
			margin-top: 10px;
			text-align: center;
		}
		
	</style>
</head>
<body>
	<div id="header">
		<h1>Importance of biodiversity</h1>
	</div>

	<div id="content">
		<h2>Why is biodiversity
            important?</h2><br>
        <h4>Deborah Chu</h4>
		<p>We humans share our planet with innumerable
            other creatures and ecosystems. For those of us
            living in towns and cities, it can be hard to
            imagine how biodiversity affects us (except
            when David Attenborough makes us ugly-cry
            over a baby whale). In reality, the astounding
            variety and richness of life on Earth is essential
            to ourlife on Earth. This topic is off-the-charts
            complex, so I've laid out a few basic reasons
            why biodiversity is important -- and must be
            protected at all costs.
            </p>

		<h3>What is Biodiversity?</h3>
		<p>Biodiversity refers to the variety of life in all
            its forms. The term includes everything from
            genetic diversity within species, to interactions
            between organisms within ecosystems (WWF).
            If that definition seems enormous andcomplicated, that's because it is! It's almost
            impossible to fathom how much life there is on
            Earth. Scientists estimate that there are
            approximately 8.7 million species of plants and
            animals in existence -- and that we've barely
            scratched the surface, having identified only
            about 1.2 million of them (National Geographic)
            </p><br>
            <p>Another important element of biodiversity is
                how all these different kinds of life work
                together to create ecosystems. For instance,
                the birds help spread seeds that grow into trees,
                which house all kinds of animals and remove
                carbon dioxide from the atmosphere. In turn
                trees are able to grow thanks to the bugs that
                break down organic matter for nutrient-rich soil,
                which sustains all kinds of plant life on the
                forest floor. These plants are pollinated by bees,
                to become the crops we eat.. and the cycle
                goes on and on, and spins wider and wider.
                Unfortunately, human activity is putting
                unprecedented pressure on these ecosystems
                When we overfish our oceans, deforest land or
                change our climate, we're upsetting the fragile
                balance that biodiversity depends upon to
                flourish. Today, 1 in 8 species face extinction(New Scientist) and we've lost more than half of
                global wildlife populations (WWE). Scientists are
                now saying we've entered a sixth mass
                extinction event -- a 'biological annihilation' on
                par with the asteroid that saw the dinosaurs off.
                The good news (yes, there's good news, thank
                goodness) is that we're waking up to this threat,
                and there's still time to right the course. But in
                order to raise awareness and build political will
                for action, the first step is to understand all the
                many ways in which biodiversity impacts our
                lives.
                </p>

		<h3>Biodiversity sustains a liveable
            planet
            </h3>
		<p>The air we breathe, the water we drink, and the
            food we eat is all a direct result of biodiversity
            No biggie, right?
            These benefits we gain from biodiversity are
            called ecosystem services. Unfortunately,
            scientists estimate that when biodiversity in an
            area is reduced by 20%, the ecosystem services
            that we rely on become compromised -- and it'sestimated that over a quarter of Earth's land
            surface has already exceeded this threshold
            (NHM).
            Clearly there is an urgent need to protect
            biodiversity. But because so many of these
            benefits and processes remain invisible to us (or
            are just plain taken for granted), there's a lack of
            urgency around reversing the damage we're
            causing.
            To change this, some recommend putting a
            price on natural resources and ecosystem
            services, to help us better understand the value
            that they bring to our lives. This concept is
            called natural capital, and it's got its supporters
            and detractors. Some think it's a useful tool
            that'll help for-profit organisations factor the
            environment into their decision-making. Others
            think framing the environment into a
            commodity will only make matters worse.
            Either way, these numbers are tricky to crunch,
            but estimates put ecosystem services' financial
            worth between 125 to 140 trillion US dollars
            per year -- or one and a half times the global
            GDP (OECD). Wowza.</p>
	</div>
    <div id="video">
        <video width="640" height="360" controls>
            <source src="static/assets/img/Why is biodiversity so important_ - Kim Preshoff.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

</div>

	
</body>
</html>